
            <nav class="navbar navbar-light bg-light">
           
                <a class="navbar-brand" style="cursor: pointer;" (click)="toHome()">
                    <img src="https://www.freelogoservices.com/api/main/images/1j+ojFVDOMkX9Wytexe43D6kifWDrBVPmR...IwXs1M3EMoAJtlSkphPZq9PQy" width="90" height="35" alt="logo">
                  
                </a>

                <span >El titulo de la app fue pasado por input: <b>{{titulo}}</b> </span>
            <button type="button" class="btn btn-dark mr-1  " (click)="toHome()">Go Home?</button>

            


              </nav>