<div class="card-group">
    <div class="card text-white bg-info mb-3">

        <div class="card-header" >
            
            <h5 >Lap: {{index+1}} - Timer {{eventLapTimers.name}} {{eventLapTimers.TID +1}}</h5>

        </div>

        <div class="card-footer">

                
                    <div class="row">

                        <h2>{{eventLapTimers.time.hour}}:{{eventLapTimers.time.minute}}:{{eventLapTimers.time.second}}</h2>

                    </div>
                    
                    
                

          </div>
    </div>
</div>


