<div class="row">
    <div class="col-xs-12">
		<form [formGroup]="notesForm" (ngSubmit)="onSubmit()">
			<h3>Event Notes UI</h3>

					<div class="card-group">
						<div class="card text-white bg-dark mb-1">
							<h5 class="card-header">Name:</h5>
							<div class="card-header">
								<input type="text" class="form-control" formControlName="name" required>
							</div>

							<h5 class="card-header">Description:</h5>
							<div class="card-body">
								<textarea 
								class="card-body" 
								type="text" 
								formControlName="desc" 
								class="form-control"
								rows="5"
								required></textarea>

							</div>
							<h5 class="card-header">Date:</h5>
							<div class="card-footer">
								<div class="input-group">
										<input 
										class="form-control" 
										formControlName="date" 
										placeholder="yyyy-mm-dd"
										name="dp"  
										ngbDatepicker #d="ngbDatepicker">
									
									<div class="input-group-append">
										<button class="btn btn-outline-light btn-sm" (click)="d.toggle()" type="button">pick your date mate!</button>
									</div>

								</div>
								
							  </div>
						</div>
					</div>

			  <hr>
			  <button class="btn btn-dark" type="submit" [disabled]="!notesForm.valid">Submit</button>
			  <hr>
		</form>
		
        
    </div>
</div>