<h1>Welcome to {{title}}!!</h1>
<h3>Please Choose one claw before we cant start!!</h3>
<br>
<hr>

    <div class="row">
        
        <div class="col-md-4">
            <button type="button" class="btn btn-primary"  (click)="toEventTimer()" >Claw Timer</button>
        </div>

        <div class="col-md-4">
            <button type="button" class="btn btn-danger" (click)="toNotes()" >Claw Notes</button>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-success" (click)="toRecipe()" >Claw Recipe</button>
        </div>
        
        
    </div>
    



<hr>